@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Merriweather:wght@700&display=swap");

body {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16px;
  margin: 30px;
  background-color: #22212c;
  color: #837e9f;
}

:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

.logo {
  width: 250px;
  height: 200px;
  padding: 20px;
  background-color: #302f3d;
  text-align: center;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-color: black;
  border: 2px solid rgb(0, 255, 0);
}
.logo p {
  font-size: 12px
}

.informacoes h3 {
  font-weight: bolder;
  font-size: 20px;
  font-family: "Merriweather", serif;
}

.about {
  width: 250px;
  height: 200px;
  padding: 20px;
  margin-top: 25px;
  background-color: #302f3d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 20px;
  display: flex;
}

.tecnologias {
  width: 250px;
  height: 200px;
  padding: 20px;
  margin-top: 25px;
  background-color: #302f3d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.webs{
  list-style-type:none;
  padding: 0;
  text-decoration: none;
  color: #837e9f;
}
.webs a:visited , a:link{
  text-decoration: none;
  color: #837e9f;
}
.webs img{
  width: 22px;
  margin-right: 10px;
  filter: invert();
}